**using this there is no need to reload your packages every time when you will make any improvement to them**

In [597]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [598]:
autoreload 2

**import necessary libraries**

In [599]:
import numpy as np
import pandas as pd 
import sys
import warnings

**set warnings options**

In [600]:
warnings.filterwarnings('ignore')

#### to have ease in importing modules

In [601]:
sys.path.insert(0, '/Users/mjasiecz/PycharmProjects/new_offer_success_predictor/src')

**set pandas options**

In [602]:
pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 200

**balancing dataset**

In [603]:
from imblearn.over_sampling import SMOTE
from imblearn.combine import SMOTEENN

**import packages for manage and preprocess data**

In [604]:
from data.data_manager import DataManager
from data.data_processor import DataProcessor, TestDataProcessor
from ml_preprocessing.categorical_encoders import LeaveOneOutEncoder

**load data pipeline**

In [605]:
DM = DataManager()
train_df, test_df = DM.load_train_test()

In [606]:
train_df.head()

,accepted,offer_class,gender,age,phone_calls,emails,customer_code,salary,offer_code,customer_type,number,offer_value,estimated_expenses,center
name,,,,,,,,,,,,,,
8550AB469CB2445,no,Premium,female,NaN,1.0,2.0,2678,1524.58,8CA,C,0F2A2,303.973257,7207.0,B
07355EE27DD1493,no,High,male,32.0,0.0,0.0,244360,1300.00,9DD,S,5F15A,64.075055,3675.0,A
034E73A251554F0,yes,Premium,female,NaN,1.0,1.0,370365,1550.00,517,Q,AC578,108.581750,4750.0,B
0AF961B4AC7A439,no,Premium,male,NaN,0.0,1.0,2652,722.92,9CB,C,8A8CC,155.495957,1401.0,A
8535BBCA690A4AE,yes,Premium,male,NaN,0.0,1.0,1601,5649.58,6FF,S,42EFB,121.371033,2106.0,B

In [607]:
train_df.shape

(1031, 14)

In [608]:
test_df.head()

,accepted,offer_class,gender,age,phone_calls,emails,customer_code,salary,offer_code,customer_type,number,offer_value,estimated_expenses,center
name,,,,,,,,,,,,,,
DA3BAEB8BF604EB,no,Premium,male,NaN,0.0,1.0,Fa 265302,731.25,99F,S,D6706,143.108044,7638.0,A
AEF3DE08DFED4E0,no,Premium,male,31.0,0.0,0.0,347063,777.50,405,S,NaN,63.637416,5784.0,A
B621BB29484E46D,no,Premium,male,25.0,0.0,1.0,349250,789.58,954,S,7E9CB,210.204552,4605.0,B
2D0945802F92423,no,Premium,female,18.0,0.0,1.0,365226,675.00,D7D,Q,6361F,131.110924,4459.0,B
640ABFC7E49B403,no,Medium,male,56.0,0.0,1.0,17764,3069.58,BAF,C,63C3B,180.019199,4396.0,B

In [609]:
test_df.shape

(258, 14)

**ml data preprocessing**

In [610]:
DP = DataProcessor(train_df=train_df)
processed_train_df = DP.perform_initial_features_engineering()
TDP = TestDataProcessor(not_processed_train_df=train_df,
                        processed_train_df=processed_train_df,
                        test_df=test_df,
                        sneaky_peaky=True)
processed_test_df = TDP.perform_initial_features_engineering()

Imputing row 1/1031 with 1 missing, elapsed time: 0.241
Imputing row 1/1289 with 0 missing, elapsed time: 0.336
Imputing row 1033/1289 with 0 missing, elapsed time: 0.338

In [611]:
processed_train_df.head()

,cc_len,cc_startswith,log_salary,log_age_knn,log_estimated_expenses_knn,log_offer_value_knn,scaled_salary,scaled_age_knn,scaled_estimated_expenses_knn,scaled_offer_value_knn,nan_age,not_nan_age,target,offer_class,gender,age,phone_calls,emails,salary,customer_type,center,age_knn,estimated_expenses_knn,offer_value_knn
name,,,,,,,,,,,,,,,,,,,,,,,,
8550AB469CB2445,ELSE,ELSE,7.329474,3.401259,8.882808,5.716940,-0.345530,-0.297159,1.362250,3.035567,True,False,False,Premium,female,NaN,1,2,1524.58,C,B,30.001848,7207.0,303.973257
07355EE27DD1493,ELSE,ELSE,7.170120,3.465736,8.209308,4.160055,-0.389281,-0.111655,-0.492006,-1.109564,False,True,False,High,male,32.0,0,0,1300.00,S,A,32.000000,3675.0,64.075055
034E73A251554F0,ELSE,ELSE,7.346010,3.177471,8.465900,4.687503,-0.340578,-0.855654,0.072355,-0.340546,True,False,True,Premium,female,NaN,1,1,1550.00,Q,B,23.986022,4750.0,108.581750
0AF961B4AC7A439,ELSE,ELSE,6.583299,3.323884,7.244942,5.046620,-0.501704,-0.504546,-1.685828,0.470071,True,False,False,Premium,male,NaN,0,1,722.92,C,A,27.767979,1401.0,155.495957
8535BBCA690A4AE,ELSE,ELSE,8.639336,3.405772,7.652546,4.798852,0.458072,-0.284561,-1.315712,-0.119564,True,False,True,Premium,male,NaN,0,1,5649.58,S,B,30.137541,2106.0,121.371033

In [612]:
processed_test_df.head()

,cc_len,cc_startswith,log_salary,log_age_knn,log_estimated_expenses_knn,log_offer_value_knn,scaled_salary,scaled_age_knn,scaled_estimated_expenses_knn,scaled_offer_value_knn,nan_age,not_nan_age,target,age,center,customer_type,emails,gender,offer_class,phone_calls,salary,age_knn,estimated_expenses_knn,offer_value_knn
name,,,,,,,,,,,,,,,,,,,,,,,,
DA3BAEB8BF604EB,ELSE,ELSE,6.594755,3.489576,8.940891,4.963600,-0.501839,-0.035049,1.603528,0.246935,True,False,False,NaN,A,S,1,male,Premium,0,731.25,32.772049,7638.0,143.108044
AEF3DE08DFED4E0,ELSE,ELSE,6.656084,3.433987,8.662851,4.153202,-0.492946,-0.197055,0.631794,-1.130746,False,True,False,31.0,A,S,0,male,Premium,0,777.50,31.000000,5784.0,63.637416
B621BB29484E46D,ELSE,ELSE,6.671501,3.218876,8.434898,5.348081,-0.490623,-0.745594,0.013846,1.410101,False,True,False,25.0,B,S,1,male,Premium,0,789.58,25.000000,4605.0,210.204552
2D0945802F92423,ELSE,ELSE,6.514713,2.890372,8.402680,4.876044,-0.512654,-1.385557,-0.062677,0.038956,False,True,False,18.0,B,Q,1,female,Premium,0,675.00,18.000000,4459.0,131.110924
640ABFC7E49B403,58,ELSE,8.029296,4.025352,8.388450,5.193064,-0.052226,2.088525,-0.095697,0.886816,False,True,False,56.0,B,C,1,male,Medium,0,3069.58,56.000000,4396.0,180.019199

**verify if there is no mistake during preprocessing**

In [613]:
assert not set(processed_train_df.index).intersection(set(processed_test_df.index))

**left to process: categoricalencoding and age binning approach**

In [614]:
processed_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1031 entries, 8550AB469CB2445 to 358EEC4160A4478
Data columns (total 24 columns):
cc_len                           1031 non-null object
cc_startswith                    1031 non-null object
log_salary                       1031 non-null float64
log_age_knn                      1031 non-null float64
log_estimated_expenses_knn       1031 non-null float64
log_offer_value_knn              1031 non-null float64
scaled_salary                    1031 non-null float64
scaled_age_knn                   1031 non-null float64
scaled_estimated_expenses_knn    1031 non-null float64
scaled_offer_value_knn           1031 non-null float64
nan_age                          1031 non-null bool
not_nan_age                      1031 non-null bool
target                           1031 non-null bool
offer_class                      1031 non-null object
gender                           1031 non-null object
age                              688 non-null float64
phone_calls                      1031 non-null object
emails                           1031 non-null object
salary                           1031 non-null float64
customer_type                    1031 non-null object
center                           1031 non-null object
age_knn                          1031 non-null float64
estimated_expenses_knn           1031 non-null float64
offer_value_knn                  1031 non-null float64
dtypes: bool(3), float64(13), object(8)
memory usage: 180.2+ KB

In [615]:
processed_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, DA3BAEB8BF604EB to 2E27EC78F50943B
Data columns (total 24 columns):
cc_len                           258 non-null object
cc_startswith                    258 non-null object
log_salary                       258 non-null float64
log_age_knn                      258 non-null float64
log_estimated_expenses_knn       258 non-null float64
log_offer_value_knn              258 non-null float64
scaled_salary                    258 non-null float64
scaled_age_knn                   258 non-null float64
scaled_estimated_expenses_knn    258 non-null float64
scaled_offer_value_knn           258 non-null float64
nan_age                          258 non-null bool
not_nan_age                      258 non-null bool
target                           258 non-null bool
age                              189 non-null float64
center                           258 non-null object
customer_type                    258 non-null object
emails                           258 non-null object
gender                           258 non-null object
offer_class                      258 non-null object
phone_calls                      258 non-null object
salary                           258 non-null float64
age_knn                          258 non-null float64
estimated_expenses_knn           258 non-null float64
offer_value_knn                  258 non-null float64
dtypes: bool(3), float64(13), object(8)
memory usage: 45.1+ KB

**sklearn modelling**

In [616]:
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix

**sklearn models which have predict_proba method**

In [617]:
from sklearn.utils.testing import all_estimators

estimators = all_estimators()

for name, class_ in estimators:
    if hasattr(class_, 'predict_proba'):
        print(name)

AdaBoostClassifier
BaggingClassifier
BayesianGaussianMixture
BernoulliNB
CalibratedClassifierCV
ClassifierChain
ComplementNB
DecisionTreeClassifier
DummyClassifier
ExtraTreeClassifier
ExtraTreesClassifier
GaussianMixture
GaussianNB
GaussianProcessClassifier
GradientBoostingClassifier
GridSearchCV
HistGradientBoostingClassifier
KNeighborsClassifier
LabelPropagation
LabelSpreading
LinearDiscriminantAnalysis
LogisticRegression
LogisticRegressionCV
MLPClassifier
MultiOutputClassifier
MultinomialNB
NuSVC
OneVsRestClassifier
Pipeline
QuadraticDiscriminantAnalysis
RFE
RFECV
RandomForestClassifier
RandomizedSearchCV
SGDClassifier
SVC
VotingClassifier
_BinaryGaussianProcessClassifierLaplace
_ConstantPredictor

In [618]:
enc = LeaveOneOutEncoder(train_df=processed_train_df,
                         test_df=processed_test_df,
                         columns_to_encode=['offer_class',
                                            'gender',
                                            'customer_type',
                                            #'emails',
                                            'center',
                                            'phone_calls',
                                            'cc_len',
                                            'cc_startswith'],
                         target_column='target',
                         random_state=42,
                         mean=1,
                         std=0.05)

In [368]:
train, test = enc.fit()

In [64]:
train.head(1)

,cc_len,cc_startswith,log_salary,log_age_knn,log_estimated_expenses_knn,log_offer_value_knn,scaled_salary,scaled_age_knn,scaled_estimated_expenses_knn,scaled_offer_value_knn,nan_age,not_nan_age,target,offer_class,gender,age,phone_calls,emails,salary,customer_type,center,age_knn,estimated_expenses_knn,offer_value_knn,encoded_offer_class,encoded_gender,encoded_customer_type,encoded_emails,encoded_center,encoded_phone_calls,encoded_cc_len,encoded_cc_startswith
name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8550AB469CB2445,ELSE,ELSE,7.329474,3.401259,8.882808,5.71694,-0.34553,-0.297159,1.36225,3.035567,True,False,False,Premium,female,NaN,1,2,1524.58,C,B,30.001848,7207.0,303.973257,0.263477,0.744563,0.59357,0.521735,0.400552,0.530646,0.324854,0.376086

In [65]:
test.head(1)

,cc_len,cc_startswith,log_salary,log_age_knn,log_estimated_expenses_knn,log_offer_value_knn,scaled_salary,scaled_age_knn,scaled_estimated_expenses_knn,scaled_offer_value_knn,nan_age,not_nan_age,target,age,center,customer_type,emails,gender,offer_class,phone_calls,salary,age_knn,estimated_expenses_knn,offer_value_knn,encoded_offer_class,encoded_gender,encoded_customer_type,encoded_emails,encoded_center,encoded_phone_calls,encoded_cc_len,encoded_cc_startswith
name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
DA3BAEB8BF604EB,ELSE,ELSE,6.594755,3.489576,8.940891,4.9636,-0.501839,-0.035049,1.603528,0.246935,True,False,False,NaN,A,S,1,male,Premium,0,731.25,32.772049,7638.0,143.108044,0.256637,0.191617,0.31882,0.347072,0.365801,0.341429,0.316583,0.366552

In [435]:
#kf = KFold(n_splits=5, shuffle=True, random_state=42)
kf = KFold(n_splits=5, shuffle=False, random_state=None) #to have each sample exactly once in validation set
splits = kf.split(processed_train_df)

In [619]:
processed_train_df = pd.concat([processed_train_df, pd.get_dummies(processed_train_df['emails'])], axis=1).rename(columns=email_ohe_names)

In [620]:
processed_test_df = pd.concat([processed_test_df, pd.get_dummies(processed_test_df['emails'])], axis=1).rename(columns=email_ohe_names).head(1)

In [621]:
X = processed_train_df.reset_index().drop(columns='name')
y = processed_train_df[['target']].reset_index().drop(columns='name')

In [622]:
len(X.columns)

30

In [623]:
# processed_train_df[['target', 'emails']].groupby(['emails', 'target']).size()

In [624]:
email_ohe_names = {0: '0_emails',
                   1: '1_email',
                   2: '2_emails',
                   3: '3_emails',
                   4: '4_emails',
                   5: '5_emails'
                  }

**primary set of chosen features**

In [625]:
X.drop(columns=['salary',
                'scaled_salary',
                'scaled_age_knn',
                'scaled_estimated_expenses_knn',
                'scaled_offer_value_knn',
                'estimated_expenses_knn',
                'offer_value_knn',
                'age_knn',
                'log_age_knn',
                'age'], inplace=True)

In [626]:
X.head(1)

,cc_len,cc_startswith,log_salary,log_estimated_expenses_knn,log_offer_value_knn,nan_age,not_nan_age,target,offer_class,gender,phone_calls,emails,customer_type,center,0_emails,1_email,2_emails,3_emails,4_emails,5_emails
0,ELSE,ELSE,7.329474,8.882808,5.71694,True,False,False,Premium,female,1,2,C,B,0,0,1,0,0,0

In [627]:
len(X.columns)

20

In [628]:
X.head(1)

,cc_len,cc_startswith,log_salary,log_estimated_expenses_knn,log_offer_value_knn,nan_age,not_nan_age,target,offer_class,gender,phone_calls,emails,customer_type,center,0_emails,1_email,2_emails,3_emails,4_emails,5_emails
0,ELSE,ELSE,7.329474,8.882808,5.71694,True,False,False,Premium,female,1,2,C,B,0,0,1,0,0,0

In [595]:
#lrc = LogisticRegression()

In [545]:
# fill by .mean at the end! srednia wszystkich przebiegow, gdy dany zbior nie byl zbiorem testowym

In [546]:
# make sure that splits are separable!

In [547]:
#make LOOE faster!
#how to add this to gridsearch?

In [629]:
X.drop(columns=['emails'],inplace=True)

In [630]:
cs = [0.01]# ,0.05]#, 0.1, 0.5, 1,5]
solvers = ['liblinear']
random_states = [42]
tols = [0.01]#,0.001]#,0.0001]
max_iters = [100]#,200]
penaltys = ['l1']#, 'l2']

In [631]:
import itertools

In [658]:
params_grid = {'C': [0.01, 0.05, 0.1, 0.2, 0.5],
               'random_state': [42]}

In [663]:
**params_grid.values()

SyntaxError: invalid syntax (<ipython-input-663-a10d68569587>, line 1)

In [ ]:
if selected_model == 'LogisticRegression':
    params
    
if selected_model == 'RandomForest':

In [656]:
for p in itertools.product(cs, solvers, random_states, tols, max_iters, penaltys):
    params = {}

(0.01, 'liblinear', 42, 0.01, 100, 'l1')

In [665]:
for p in itertools.product(*params_grid.values()):
    print(p)

(0.01, 42)
(0.05, 42)
(0.1, 42)
(0.2, 42)
(0.5, 42)

In [678]:
for key in params_grid.keys():
    print(key)

C
random_state

In [701]:
{key for key in (params_grid.keys())}

{'C', 'random_state'}

In [719]:
params_grid

{'C': [0.01, 0.05, 0.1, 0.2, 0.5], 'random_state': [42]}

In [714]:
model_params = params_grid.copy()

In [717]:
for counter, key in enumerate(model_params.keys()):
    model_params[key] = p[counter]

In [718]:
model_params

{'C': 0.5, 'random_state': 42}

In [722]:
#confusion_matrix-threshold

In [729]:
encoded_dfs, accuracies, parameters,  recalls = LOO_GridSearchCV(
                                                     train_df=X,
                                                     test_df=y,
                                                     model='LogisticRegression',
                                                     params_grid=params_grid,
                                                     columns_to_encode=['offer_class', 'gender', 'customer_type',
                                                                        'center', 'phone_calls', 'cc_len', 'cc_startswith'],
                                                     n_folds=5)

KeyboardInterrupt:

In [726]:
def LOO_GridSearchCV(train_df, test_df, model: str, params_grid, columns_to_encode, n_folds: int = 5):
    """
    """
    processed_train_df = train_df.copy(deep=True)
    processed_test_df = test_df.copy(deep=True)
    
    models_accuracies, models_recalls, models_parameters = ([] for i in range(3))
    for p in itertools.product(*params_grid.values()):
        kf = KFold(n_splits=n_folds, shuffle=False, random_state=None)
        #to have each sample exactly once in validation set
        splits = kf.split(processed_train_df)
        model_params = params_grid.copy()
        for counter, key in enumerate(model_params.keys()):
            model_params[key] = p[counter]
        
        models_parameters.append(model_params.items())
        if model == 'LogisticRegression':
            clf = LogisticRegression(**model_params)
            
        if model == 'RandomForestClassifier':
            clf = RandomForestClassifier(**model_params)
        
        dfs_to_mean, final_encoded_dfs, cv_accuracies, cv_recalls = ([] for i in range(4))
        for train_index, val_index in splits:
            X_train, y_train = X.iloc[train_index], y.iloc[train_index]
            X_val, y_val = X.iloc[val_index], y.iloc[val_index]
            X_val.drop(columns=['target'], inplace=True)
            
            enc = LeaveOneOutEncoder(train_df=X_train,
                                 test_df=X_val,
                                 columns_to_encode=columns_to_encode,
                                 target_column='target',
                                 random_state=42,
                                 mean=1,
                                 std=0.05)
            
            X_train, X_val = enc.fit()
            encoded_cols = [col for col in X_train.columns if 'encoded_' in col]
            dfs_to_mean.append(X_train[encoded_cols])
            train_to_drop = columns_to_encode.copy()
            train_to_drop.extend(['target'])
            X_train.drop(columns=train_to_drop, inplace=True)
            test_to_drop = columns_to_encode.copy()
            X_val.drop(columns=test_to_drop, inplace=True)
            lrc.fit(X_train, y_train)
            predictions = lrc.predict(X_val)
            cv_accuracies.append(accuracy_score(y_val, predictions))
            cm = confusion_matrix(y_val, predictions)
            fn, tp = cm[1,0], cm[1,1]
            recall = tp/(tp+fn)
        for df in dfs_to_mean:
            zeros = [0 for col in df.columns]
            for index in range(len(processed_train_df)):
                if index not in df.index:
                    df.loc[index, :] = zeros
                df.sort_index(inplace=True)
        mean_df = pd.DataFrame()
        for num in range(n_folds):
            mean_df = mean_df+dfs_to_mean[num]
        encoded_final = mean_df.divide(n_folds-1)  
        final_encoded_dfs.append(encoded_final)
        models_accuracies.append(np.mean(cv_accuracies))
        models_recalls.append(np.mean(cv_recalls))
        
    
    return final_encoded_dfs, models_accuracies, models_parameters, models_recalls

In [632]:
models_acc1 = []
params = []
for p in itertools.product(cs, solvers, random_states, tols, max_iters, penaltys):
    kf = KFold(n_splits=5, shuffle=False, random_state=None)
    #to have each sample exactly once in validation set
    splits = kf.split(processed_train_df)
    c, solver, random_state, tol, max_iter, penalty = p
    lrc = LogisticRegression(C=c,
                             tol=tol,
                             max_iter=max_iter,
                             solver=solver,
                             penalty=penalty,
                             random_state=random_state)
    list_of_cols_to_mean = []
    accuracy = []
    recall = []
    params.append(p)
    for train_index, val_index in splits:
        X_train, y_train = X.iloc[train_index], y.iloc[train_index]
        X_val, y_val = X.iloc[val_index], y.iloc[val_index]
        X_val.drop(columns=['target'], inplace=True)
        columns_to_encode = ['offer_class',
                             'gender',
                             'customer_type',
                             #'emails',
                             'center',
                             'phone_calls',
                             'cc_len',
                             'cc_startswith']

        enc = LeaveOneOutEncoder(train_df=X_train,
                             test_df=X_val,
                             columns_to_encode=columns_to_encode,
                             target_column='target',
                             random_state=42,
                             mean=1,
                             std=0.05)
        X_train, X_val = enc.fit()
        encoded_cols = [col for col in X_train.columns if 'encoded_' in col]
        list_of_cols_to_mean.append(X_train[encoded_cols])
        train_to_drop = columns_to_encode.copy()
        train_to_drop.extend(['target'])
        X_train.drop(columns=train_to_drop, inplace=True)
        test_to_drop = columns_to_encode.copy()
        X_val.drop(columns=test_to_drop, inplace=True)
        lrc.fit(X_train, y_train)
        predictions = lrc.predict(X_val)
        accuracy.append(accuracy_score(y_val, predictions))
        recall.
    models_acc1.append(np.mean(accuracy))

In [634]:
X_train.columns

Index(['log_salary', 'log_estimated_expenses_knn', 'log_offer_value_knn',
       'nan_age', 'not_nan_age', '0_emails', '1_email', '2_emails', '3_emails',
       '4_emails', '5_emails', 'encoded_offer_class', 'encoded_gender',
       'encoded_customer_type', 'encoded_center', 'encoded_phone_calls',
       'encoded_cc_len', 'encoded_cc_startswith'],
      dtype='object')

In [522]:
zeros = [0 for col in list_of_cols_to_mean[3].columns]
for index in range(len(X)):
    if index not in list_of_cols_to_mean[3].index:
        list_of_cols_to_mean[3].loc[index, :] = zeros
list_of_cols_to_mean[3].sort_index(inplace=True)

In [524]:
zeros = [0 for col in list_of_cols_to_mean[2].columns]
for index in range(len(X)):
    if index not in list_of_cols_to_mean[2].index:
        list_of_cols_to_mean[2].loc[index, :] = zeros
list_of_cols_to_mean[2].sort_index(inplace=True)

In [556]:
list_of_cols_to_mean[2].head()

,encoded_offer_class,encoded_gender,encoded_customer_type,encoded_center,encoded_phone_calls,encoded_cc_len,encoded_cc_startswith
0,0.252823,0.750137,0.603189,0.396784,0.547584,0.319659,0.375084
1,0.428055,0.186670,0.313606,0.369396,0.334569,0.309756,0.363464
2,0.252411,0.752115,0.388820,0.397422,0.546556,0.320395,0.376359
3,0.265482,0.202284,0.633392,0.400294,0.362554,0.335665,0.393865
4,0.241631,0.183912,0.310358,0.380449,0.331192,0.306711,0.360285

In [553]:
#list_of_cols_to_mean[2]+list_of_cols_to_mean[3]

In [554]:
#list_of_cols_to_mean[3]

In [633]:
models_acc1

[0.6207401153792036]

In [ ]:
#X['emails']

In [488]:
models_acc

[0.6207401153792036,
 0.6207401153792036,
 0.7759673561277614,
 0.7711129871957225,
 0.6207401153792036,
 0.6207401153792036,
 0.7759673561277614,
 0.7711129871957225]

In [476]:
models_acc = []
for c in cs:
    for tol in tols:
        for max_iter in max_iters:
            for penalty in penaltys:
                for solver in solvers:
                    for random_state in random_states:
                        kf = KFold(n_splits=5, shuffle=False, random_state=None)
                        #to have each sample exactly once in validation set
                        splits = kf.split(processed_train_df)
                        lrc = LogisticRegression(C=c,
                                                 tol=tol,
                                                 max_iter=max_iter,
                                                 solver=solver,
                                                 penalty=penalty,
                                                 random_state=random_state)
                        list_of_cols_to_mean = []
                        accuracy = []
                        for train_index, val_index in splits:
                            X_train, y_train = X.iloc[train_index], y.iloc[train_index]
                            X_val, y_val = X.iloc[val_index], y.iloc[val_index]
                            X_val.drop(columns=['target'], inplace=True)
                            columns_to_encode = ['offer_class',
                                                 'gender',
                                                 'customer_type',
                                                 #'emails',
                                                 'center',
                                                 #'phone_calls',
                                                 'cc_len',
                                                 'cc_startswith']

                            enc = LeaveOneOutEncoder(train_df=X_train,
                                                 test_df=X_val,
                                                 columns_to_encode=columns_to_encode,
                                                 target_column='target',
                                                 random_state=42,
                                                 mean=1,
                                                 std=0.05)
                            X_train, X_val = enc.fit()
                            encoded_cols = [col for col in X_train.columns if 'encode_' in col]
                            list_of_cols_to_mean.append(X_train[encoded_cols])
                            train_to_drop = columns_to_encode.copy()
                            train_to_drop.extend(['target'])
                            X_train.drop(columns=train_to_drop, inplace=True)
                            test_to_drop = columns_to_encode.copy()
                            X_val.drop(columns=test_to_drop, inplace=True)
                            lrc.fit(X_train, y_train)
                            predictions = lrc.predict(X_val)
                            accuracy.append(accuracy_score(y_val, predictions))
                        models_acc.append(np.mean(accuracy))

In [477]:
# modify looe for mean encoding for low cardinality values

it means that for example:
if we have one value which is total x (check empirically for, e.g. x = 10) for all folds, then it is possible that we will have lack of these values in some folds) or 1/2 values?
maybe it depends from target? check it out
#debug
i.e. we have some values of it for target 1 but we dont have for target 0 - then it may do some damage (e.g. empty array) <- repairrepairrepair

how to make training running in other card? how to make running when mac is 'standby'?

In [478]:
models_acc

[0.6207401153792036,
 0.6207401153792036,
 0.7759673561277614,
 0.7711129871957225]

In [449]:
np.mean(accuracy)

0.7740162281318888

In [97]:
accuracy_score??

Signature: accuracy_score(y_true, y_pred, normalize=True, sample_weight=None)
Source:
def accuracy_score(y_true, y_pred, normalize=True, sample_weight=None):
    """Accuracy classification score.

    In multilabel classification, this function computes subset accuracy:
    the set of labels predicted for a sample must *exactly* match the
    corresponding set of labels in y_true.

    Read more in the :ref:`User Guide <accuracy_score>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) labels.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Predicted labels, as returned by a classifier.

    normalize : bool, optional (default=True)
        If ``False``, return the number of correctly classified samples.
        Otherwise, return the fraction of correctly classified samples.

    sample_weight : array-like of shape = [n_samples], optional
        Sample weights.

    Returns
    -------
    score : float
        If ``normalize == True``, return the fraction of correctly
        classified samples (float), else returns the number of correctly
        classified samples (int).

        The best performance is 1 with ``normalize == True`` and the number
        of samples with ``normalize == False``.

    See also
    --------
    jaccard_score, hamming_loss, zero_one_loss

    Notes
    -----
    In binary and multiclass classification, this function is equal
    to the ``jaccard_score`` function.

    Examples
    --------
    >>> from sklearn.metrics import accuracy_score
    >>> y_pred = [0, 2, 1, 3]
    >>> y_true = [0, 1, 2, 3]
    >>> accuracy_score(y_true, y_pred)
    0.5
    >>> accuracy_score(y_true, y_pred, normalize=False)
    2

    In the multilabel case with binary label indicators:

    >>> import numpy as np
    >>> accuracy_score(np.array([[0, 1], [1, 1]]), np.ones((2, 2)))
    0.5
    """

    # Compute accuracy for each possible representation
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
    check_consistent_length(y_true, y_pred, sample_weight)
    if y_type.startswith('multilabel'):
        differing_labels = count_nonzero(y_true - y_pred, axis=1)
        score = differing_labels == 0
    else:
        score = y_true == y_pred

    return _weighted_sum(score, sample_weight, normalize)
File:      ~/anaconda3/envs/new_offer_predictor/lib/python3.6/site-packages/sklearn/metrics/classification.py
Type:      function

at the beginning, I will pick LogisticRegression, RandomForestClassifier, KNeighborsClassifier, GaussianProcessClassifier and GradientBoostingClassifier and then try to do ensemble of them by using VotingClassifier (voting='soft')